            <div class="content-container no-padding">
                <div class="container-full">
                    <div class="row">
                        <div class="col-md-12 main-wrap">
                            <div class="main-content">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <div id="revslider" data-autorun="yes" data-duration="10000" class="carousel slide fade dhslider dhslider-custom " data-height="800">
                                            <div class="dhslider-loader">
                                                <div class="fade-loading">
                                                    <i></i><i></i><i></i><i></i>
                                                </div>
                                            </div>
                                            <div class="carousel-inner dhslider-wrap">
                                                <div class="item slider-item active">
                                                    <div class="slide-bg slide-bg-1"></div>
                                                    <div class="slider-overlay"></div>
                                                    <div class="slider-caption caption-align-right">
                                                        <div class="slider-caption-wrap parallax-content">
                                                            <h2 class="slider-heading-text">YOLIA BEAUTY</h2>
                                                            <div class="slider-caption-text">
                                                                The Essence of Natural beauty ! A wellness luxury spa resort dedicated fo your life
                                                            </div>
                                                            <div class="slider-buttons">
                                                                <a href="#" class="btn btn-default btn-success btn-style-solid">
                                                                    SEE MORE
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item slider-item">
                                                    <div class="slide-bg slide-bg-2"></div>
                                                    <div class="slider-overlay"></div>
                                                    <div class="slider-caption caption-align-left">
                                                        <div class="slider-caption-wrap parallax-content">
                                                            <h2 class="slider-heading-text">BEAUTY SALON</h2>
                                                            <div class="slider-caption-text">
                                                                The Essence of Natural beauty ! A wellness luxury spa resort dedicated fo your life
                                                            </div>
                                                            <div class="slider-buttons">
                                                                <a href="#" class="btn btn-default btn-danger btn-style-solid">
                                                                    LEARN MORE
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ol class="carousel-indicators parallax-content">
                                                <li data-target="#revslider" data-slide-to="0" class="active"></li>
                                                <li data-target="#revslider" data-slide-to="1"></li>
                                            </ol>
                                            <a class="left carousel-control" href="#revslider" data-slide="prev">
                                                <i class="fa fa-angle-left carousel-icon-prev"></i>
                                            </a>
                                            <a class="right carousel-control" href="#revslider" data-slide="next">
                                                <i class="fa fa-angle-right carousel-icon-next"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row section-welcome section-background-bottom">
                                    <div class="column col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-12">
                                                    <h2 class="text-center">
                                                        WELCOME
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-2 col-sm-6"></div>
                                                <div class="column col-md-8 col-sm-8">
                                                    <div class="text-block">
                                                        <p class="text-center">
                                                            YOLIA started as an ambitious idea to promoting the economy and foot traffic in up-and-coming neighborhoods. As the business flourish our efforts has been successfully supported by the same community we love.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="column col-md-2 col-sm-6"></div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row welcome-items">
                                                <div class="column col-md-4 col-sm-4" data-fade="1" data-fade-animation="in">
                                                    <div class="single-image image-center">
                                                        <img width="500" height="250" src="images/services/service-1.jpg" class="box-default" alt="service-1"/>
                                                    </div>
                                                    <div class="box box-custom-margin-padding">
                                                        <h4>BEAUTY</h4>
                                                        <div class="text-block text-center">
                                                            <p>
                                                                Ut ultricies quis nulla non lacinia. Suspendisse posuere orci enim, ac imperdiet diam mattis nec. Etiam ante nisi.
                                                            </p>
                                                            <p>
                                                                <a href="#">See More <i class="fa fa-arrow-circle-o-right"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column col-md-4 col-sm-4" data-fade="1" data-fade-animation="in">
                                                    <div class="single-image image-center">
                                                        <img width="500" height="250" src="images/services/service-2.jpg" class="box-default" alt="service-2"/>
                                                    </div>
                                                    <div class="box box-custom-margin-padding">
                                                        <h4>MASSEGE</h4>
                                                        <div class="text-block text-center">
                                                            <p>
                                                                Quisque ullamcorper libero urna. Integer in lacus gravida, pharetra neque quis, dictum diam. Donec faucibus varius.
                                                            </p>
                                                            <p>
                                                                <a href="#">See More <i class="fa fa-arrow-circle-o-right"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column col-md-4 col-sm-4" data-fade="1" data-fade-animation="in">
                                                    <div class="single-image image-center">
                                                        <img width="500" height="250" src="images/services/service-3.jpg" class="box-default" alt="service-3"/>
                                                    </div>
                                                    <div class="box box-custom-margin-padding">
                                                        <h4>SPA</h4>
                                                        <div class="text-block text-center">
                                                            <p>
                                                                Nam id porttitor lacus. Fusce cursus porttitor pulvinar. Maecenas risus nunc, ornare et ultricies id, vestibulum in metus.
                                                            </p>
                                                            <p>
                                                                <a href="#">See More <i class="fa fa-arrow-circle-o-right"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row section-product-accessories">
                                    <div class="column col-md-12" data-fade="1" data-fade-animation="in">
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-6 col-sm-6">
                                                    <h3 class="custom-heading-type-border">
                                                        PRODUCTS<br/>&amp; ACCESSORY
                                                    </h3>
                                                </div>
                                                <div class="column col-md-6 col-sm-6">
                                                    <div class="empty-space-40"></div>
                                                    <button class="btn btn-custom-color btn-custom-color-white btn-align-right" data-hover-background-color="#1f1f1f" data-hover-border-color="#1f1f1f" data-hover-color="#ffffff" type="button">
                                                        <span>ALL PRODUCTS</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="empty-space-40"></div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-12" data-fade="1" data-fade-animation="in">
                                                    <div class="caroufredsel product-slider" data-scroll-fx="scroll" data-speed="700" data-easing="linear" data-visible-min="1" data-scroll-item="" data-responsive="1" data-infinite="1" data-autoplay="0">
                                                        <div class="caroufredsel-wrap">
                                                            <div class="shop columns-4">
                                                                <ul class="products columns-4" data-columns="4">
                                                                    <li class="product">
                                                                        <div class="product-container">
                                                                            <figure>
                                                                                <div class="product-wrap">
                                                                                    <div class="product-images">
                                                                                        <a href="#">
                                                                                            <div class="shop-loop-thumbnail">
                                                                                                <img width="365" height="385" src="images/products/p1.jpg" alt="p1"/>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <figcaption>
                                                                                    <div class="shop-loop-product-info">
                                                                                        <div class="info-title">
                                                                                            <h3 class="product_title">
                                                                                                <a href="#">Scullers Blue</a>
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info-meta">
                                                                                            <div class="info-price">
                                                                                                <span class="price">
                                                                                                    <span class="amount">
                                                                                                        &pound;35.00
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="shop-loop-actions">
                                                                                            <a href="#" class="button">
                                                                                                Add to cart
                                                                                            </a>
                                                                                            <a class="shop-loop-quickview content-ajax" href="ajax/ajax-product.html"></a>
                                                                                            <div class="add-to-wishlist-actions">
                                                                                                <a href="#" class="add_to_wishlist"></a>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product">
                                                                        <div class="product-container">
                                                                            <figure>
                                                                                <div class="product-wrap">
                                                                                    <div class="product-images">
                                                                                        <a href="#">
                                                                                            <div class="shop-loop-thumbnail">
                                                                                                <img width="365" height="385" src="images/products/p2.jpg" alt="p2"/>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <figcaption>
                                                                                    <div class="shop-loop-product-info">
                                                                                        <div class="info-title">
                                                                                            <h3 class="product_title">
                                                                                                <a href="#">Unique Fashion Pink</a>
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info-meta">
                                                                                            <div class="info-price">
                                                                                                <span class="price">
                                                                                                    <span class="amount">
                                                                                                        &pound;35.00
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="shop-loop-actions">
                                                                                            <a href="#" class="button">
                                                                                                Add to cart
                                                                                            </a>
                                                                                            <a class="shop-loop-quickview content-ajax" href="ajax/ajax-product.html"></a>
                                                                                            <div class="add-to-wishlist-actions">
                                                                                                <a href="#" class="add_to_wishlist">
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product">
                                                                        <div class="product-container">
                                                                            <figure>
                                                                                <div class="product-wrap">
                                                                                    <div class="product-images">
                                                                                        <a href="#">
                                                                                            <div class="shop-loop-thumbnail">
                                                                                                <img width="365" height="385" src="images/products/p3.jpg" alt="p3"/>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <figcaption>
                                                                                    <div class="shop-loop-product-info">
                                                                                        <div class="info-title">
                                                                                            <h3 class="product_title">
                                                                                                <a href="#">Unique Fashion Pink</a>
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info-meta">
                                                                                            <div class="info-price">
                                                                                                <span class="price">
                                                                                                    <span class="amount">
                                                                                                        &pound;35.00
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="shop-loop-actions">
                                                                                            <a href="#" class="button">
                                                                                                Add to cart
                                                                                            </a>
                                                                                            <a class="shop-loop-quickview content-ajax" href="ajax/ajax-product.html"></a>
                                                                                            <div class="add-to-wishlist-actions">
                                                                                                <a href="#" class="add_to_wishlist">
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product">
                                                                        <div class="product-container">
                                                                            <figure>
                                                                                <div class="product-wrap">
                                                                                    <div class="product-images">
                                                                                        <a href="#">
                                                                                            <div class="shop-loop-thumbnail">
                                                                                                <img width="365" height="385" src="images/products/p4.jpg" alt="p4"/>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <figcaption>
                                                                                    <div class="shop-loop-product-info">
                                                                                        <div class="info-title">
                                                                                            <h3 class="product_title">
                                                                                                <a href="#">Unique Fashion</a>
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info-meta">
                                                                                            <div class="info-price">
                                                                                                <span class="price">
                                                                                                    <span class="amount">
                                                                                                        &pound;35.00
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="shop-loop-actions">
                                                                                            <a href="#" class="button">
                                                                                                Add to cart
                                                                                            </a>
                                                                                            <a class="shop-loop-quickview content-ajax" href="ajax/ajax-product.html"></a>
                                                                                            <div class="add-to-wishlist-actions">
                                                                                                <a href="#" class="add_to_wishlist">
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product">
                                                                        <div class="product-container">
                                                                            <figure>
                                                                                <div class="product-wrap">
                                                                                    <div class="product-images">
                                                                                        <a href="#">
                                                                                            <div class="shop-loop-thumbnail">
                                                                                                <img width="365" height="385" src="images/products/p5.jpg" alt="p5"/>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <figcaption>
                                                                                    <div class="shop-loop-product-info">
                                                                                        <div class="info-title">
                                                                                            <h3 class="product_title">
                                                                                                <a href="#">Wills Lifestyle White</a>
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info-meta">
                                                                                            <div class="info-price">
                                                                                                <span class="price">
                                                                                                    <span class="amount">
                                                                                                        &pound;35.00
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="shop-loop-actions">
                                                                                            <a href="#" class="button">
                                                                                                Add to cart
                                                                                            </a>
                                                                                            <a class="shop-loop-quickview content-ajax" href="ajax/ajax-product.html"></a>
                                                                                            <div class="add-to-wishlist-actions">
                                                                                                <a href="#" class="add_to_wishlist">
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    </li>
                                                                    <li class="product">
                                                                        <div class="product-container">
                                                                            <figure>
                                                                                <div class="product-wrap">
                                                                                    <div class="product-images">
                                                                                        <a href="#">
                                                                                            <div class="shop-loop-thumbnail">
                                                                                                <img width="365" height="385" src="images/products/p6.jpg" alt="p6"/>
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <figcaption>
                                                                                    <div class="shop-loop-product-info">
                                                                                        <div class="info-title">
                                                                                            <h3 class="product_title">
                                                                                                <a href="#">Wills Lifestyle Pink</a>
                                                                                            </h3>
                                                                                        </div>
                                                                                        <div class="info-meta">
                                                                                            <div class="info-price">
                                                                                                <span class="price">
                                                                                                    <span class="amount">
                                                                                                        &pound;35.00
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="shop-loop-actions">
                                                                                            <a href="#" class="button">
                                                                                                Add to cart
                                                                                            </a>
                                                                                            <a class="shop-loop-quickview content-ajax" href="ajax/ajax-product.html"></a>
                                                                                            <div class="add-to-wishlist-actions">
                                                                                                <a href="#" class="add_to_wishlist">
                                                                                                </a>
                                                                                            </div>
                                                                                            <div class="clear"></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </figcaption>
                                                                            </figure>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <a href="#" class="caroufredsel-prev"></a>
                                                            <a href="#" class="caroufredsel-next"></a>
                                                        </div>
                                                        <div class="caroufredsel-pagination"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row section-portfolio color">
                                    <div class="column col-md-12">
                                        <div class="row">
                                            <div class="column col-md-12">
                                                <div class="portfolio portfolio-style-three masonry onepx" data-paginate="no" data-layout="masonry" data-masonry-column="4">
                                                    <div class="portfolio-filter">
                                                        <div class="filter-action filter-action-center no-sorting">
                                                            <ul data-filter-key="filter">
                                                                <li>
                                                                    <a class="selected" href="#" data-filter-value="*">All</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" data-filter-value=".donec">Donec</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" data-filter-value=".nullam">Nullam</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" data-filter-value=".quisque">Quisque</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" data-filter-value=".vestibulum">Vestibulum</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="masonry-wrap row">
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 quisque">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured gallery-featured">
                                                                        <div class="caroufredsel" data-visible="1"
                                                                             data-responsive="1" data-infinite="1"
                                                                             data-autoplay="0" data-height="variable">
                                                                            <div class="caroufredsel-wrap">
                                                                                <ul class="caroufredsel-items">
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b4.jpg" title="b4" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b4-thumb.jpg" alt="b4"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b12.jpg" title="b12" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b12-thumb.jpg" alt="b12"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b3.jpg" title="b3" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b3-thumb.jpg" alt="b3"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b1.jpg" title="b1" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b1-thumb.jpg" alt="b1"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b10.jpg" title="b10" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b10-thumb.jpg" alt="b10"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b5.jpg" title="b5" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b5-thumb.jpg" alt="b5"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b11.jpg" title="b11" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b11-thumb.jpg" alt="b11"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b6.jpg" title="b6" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b6-thumb.jpg" alt="b6"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b8.jpg" title="b8" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b8-thumb.jpg" alt="b8"/>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="caroufredsel-item">
                                                                                        <a href="images/gallery/b7.jpg" title="b7" data-rel="magnific-popup">
                                                                                            <img width="500" height="400" src="images/gallery/b7-thumb.jpg" alt="b7"/>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                                <a href="#" class="caroufredsel-prev"></a>
                                                                                <a href="#" class="caroufredsel-next"></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="#">
                                                                            <i class="fa fa-search"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Gallery">Gallery</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">
                                                                            May 17, 2015
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 donec quisque">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured video-featured">
                                                                        <div id="video-1" class="embed-wrap mfp-hide">
                                                                            <iframe src="https://player.vimeo.com/video/40207909" width="1200" height="675" title="Villa Salika 450, Chalong Bay, Phuket."></iframe>
                                                                        </div>
                                                                        <div class="video-poster">
                                                                            <img alt="Vimeo" src="images/gallery/b2-thumb.jpg" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="#video-1" data-rel="magnific-portfolio-video">
                                                                            <i class="fa fa-play"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Vimeo">Vimeo</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 17, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 quisque vestibulum">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured video-featured">
                                                                        <div id="video-2" class="embed-wrap mfp-hide">
                                                                            <iframe src="https://player.vimeo.com/video/40207909" width="1200" height="675" title="Villa Salika 450, Chalong Bay, Phuket."></iframe>
                                                                        </div>
                                                                        <div class="video-poster">
                                                                            <img alt="Youtube" src="images/gallery/b3-thumb.jpg" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="#video-2" data-rel="magnific-portfolio-video">
                                                                            <i class="fa fa-play"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Youtube">Youtube</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 17, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 nullam quisque">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured">
                                                                        <a href="#">
                                                                            <img width="500" height="400" src="images/gallery/b5-thumb.jpg" alt="b5"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="images/gallery/b5.jpg" title="b5" data-rel="magnific-single-popup">
                                                                            <i class="fa fa-search"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Purus sodales tincidunt">Purus sodales tincidunt</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 16, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 donec nullam">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured">
                                                                        <a href="#">
                                                                            <img width="500" height="400" src="images/gallery/b10-thumb.jpg" alt="b10"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="images/gallery/b10.jpg" title="b10" data-rel="magnific-single-popup">
                                                                            <i class="fa fa-search"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Curabitur at">Curabitur at</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 16, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 donec">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured">
                                                                        <a href="#">
                                                                            <img width="500" height="400" src="images/gallery/b9-thumb.jpg" alt="b9"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="images/gallery/b9.jpg" title="b9" data-rel="magnific-single-popup">
                                                                            <i class="fa fa-search"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Nulla facilisi">Nulla facilisi</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 16, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 nullam">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured">
                                                                        <a href="#">
                                                                            <img width="500" height="400" src="images/gallery/b8-thumb.jpg" alt="b8"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="images/gallery/b8.jpg" title="b8" data-rel="magnific-single-popup">
                                                                            <i class="fa fa-search"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="3" title="Ultricies nunc dapibus">Ultricies nunc dapibus</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 16, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="portfolio-item masonry-item col-md-3 col-sm-6 donec nullam">
                                                            <div class="portfolio-item-wrap">
                                                                <div class="portfolio-featured-wrap">
                                                                    <div class="portfolio-featured">
                                                                        <a href="#">
                                                                            <img width="500" height="400" src="images/gallery/b6-thumb.jpg" alt="b6"/>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-action">
                                                                        <a class="zoom-action" href="images/gallery/b6.jpg" title="b6" data-rel="magnific-single-popup">
                                                                            <i class="fa fa-search"></i>
                                                                        </a>
                                                                        <a class="view-action" href="#">
                                                                            <i class="fa fa-link"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="portfolio-overlay"></div>
                                                                </div>
                                                                <div class="portfolio-caption">
                                                                    <div class="portfolio-caption-wrap">
                                                                        <h2 class="portfolio-title">
                                                                            <a href="#" title="Rhoncus lectus">Rhoncus lectus</a>
                                                                        </h2>
                                                                        <div class="portfolio-meta">May 16, 2015</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bg-image section-booking">
                                    <div class="column col-md-2 col-sm-6"></div>
                                    <div class="column col-md-8 col-sm-8" data-fade="1" data-fade-animation="in">
                                        <h3 class="text-center">Booking Service</h3>
                                        <div class="text-block text-center">
                                            <p>
                                                <strong>Opentime: 8:00am -11:30am / 2:00pm-5:30pm / 7:00pm-10:00pm</strong>
                                            </p>
                                        </div>
                                        <div class="text-block">
                                            <form>
                                                <div class="row">
                                                    <div class="column col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label>Name <span class="required">*</span></label>
                                                            <div class="form-input">
                                                                <input type="text" name="name" value="" class="form-control" placeholder="Your Name" />
                                                                <span class="form-add-on"><i class="fa fa-user"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column col-md-6 col-sm-6">
                                                        <div class="form-group">
                                                            <label>Email <span class="required">*</span></label>
                                                            <div class="form-input">
                                                                <input type="text" name="email" value="" class="form-control" placeholder="Your Email" />
                                                                <span class="form-add-on"><i class="fa fa-envelope-o"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="column col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Time <span class="required">*</span></label>
                                                            <div class="form-input">
                                                                <input type="text" name="time" value="" class="form-control" placeholder="Time" />
                                                                <span class="form-add-on"><i class="fa fa-clock-o"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Date <span class="required">*</span></label>
                                                            <div class="form-input">
                                                                <input type="text" name="date" class="form-control" placeholder="Date" />
                                                                <span class="form-add-on"><i class="fa fa-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column col-md-4 col-sm-4">
                                                        <div class="form-group">
                                                            <label>Phone <span class="required">*</span></label>
                                                            <div class="form-input">
                                                                <input type="text" name="phone" value="" class="form-control" placeholder="Phone" />
                                                                <span class="form-add-on"><i class="None"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="column col-md-12">
                                                        <div class="text-center">
                                                            <button type="submit" class="form-submit">
                                                                <span>Book Now</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="column col-md-2 col-sm-6"></div>
                                    <div class="row-image-bg bg-repeat" data-fixed="1"></div>
                                </div>
                                <div class="row section-blog">
                                    <div class="column col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-12">
                                                    <h2 class="text-center">OUR BLOGS</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="column col-md-2 col-sm-6"></div>
                                                <div class="column col-md-8 col-sm-8">
                                                    <div class="text-block text-center">
                                                        <p>
                                                            YOLIA started as an ambitious idea to promoting the economy and foot traffic in up-and-coming neighborhoods. As the business flourish
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="column col-md-2 col-sm-6"></div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="empty-space-40"></div>
                                            <div class="row no-boder-hentry">
                                                <div class="column col-md-6 col-sm-6">
                                                    <div class="posts-layout-default">
                                                        <article>
                                                            <div class="hentry-wrap">
                                                                <div class="entry-featured ">
                                                                    <a href="#">
                                                                        <img width="700" height="350" src="images/blog/blog.jpg" alt="blog" />
                                                                    </a>
                                                                </div>
                                                                <div class="date-badge">
                                                                    <span class="month-year">Mar</span>
                                                                    <span class="date">01</span>
                                                                </div>
                                                                <div class="entry-info">
                                                                    <div class="entry-header">
                                                                        <h2 class="entry-title">
                                                                            <a href="#">Fusce ac mauris ipsum </a>
                                                                        </h2>
                                                                        <div class="entry-meta">
                                                                            <span class="meta-author">
                                                                                <i class="fa fa-pencil-square-o"></i>
                                                                                <a href="#">sitesao</a>
                                                                            </span>
                                                                            <span class="meta-date">
                                                                                <time datetime="2015-04-03T15:04:50+00:00">
                                                                                    <i class="fa fa-clock-o"></i>March 1, 2015
                                                                                </time>
                                                                            </span>
                                                                            <span class="meta-category">
                                                                                <i class="fa fa-folder-open-o"></i>
                                                                                <a href="#">Fashion</a>, <a href="#">Popular</a>
                                                                            </span>
                                                                            <span class="meta-comment">
                                                                                <i class="fa fa-comment-o"></i>
                                                                                <a href="#" class="meta-comments">7 Comments</a>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="entry-content">
                                                                        <p>
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla diam nunc, a porta massa commodo a. Maecenas tincidunt lacinia...
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                </div>
                                                <div class="column col-md-6 col-sm-6">
                                                    <div class="posts">
                                                        <div class="posts-layout-default">
                                                            <article>
                                                                <div class="hentry-wrap">
                                                                    <div class="entry-featured ">
                                                                        <a href="#">
                                                                            <img width="700" height="350" src="images/blog/blog2.jpg" alt="blog" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="date-badge">
                                                                        <span class="month-year">Mar</span>
                                                                        <span class="date">14</span>
                                                                    </div>
                                                                    <div class="entry-info">
                                                                        <div class="entry-header">
                                                                            <h2 class="entry-title">
                                                                                <a href="#">Lorem ipsum dolor sit amet </a>
                                                                            </h2>
                                                                            <div class="entry-meta">
                                                                                <span class="meta-author">
                                                                                    <i class="fa fa-pencil-square-o"></i>
                                                                                    <a href="#">sitesao</a>
                                                                                </span>
                                                                                <span class="meta-date">
                                                                                    <time datetime="2015-04-03T15:04:50+00:00">
                                                                                        <i class="fa fa-clock-o"></i>March 14, 2015
                                                                                    </time>
                                                                                </span>
                                                                                <span class="meta-category">
                                                                                    <i class="fa fa-folder-open-o"></i>
                                                                                    <a href="#">Fashion</a>, <a href="#">Trends</a>
                                                                                </span>
                                                                                <span class="meta-comment">
                                                                                    <i class="fa fa-comment-o"></i>
                                                                                    <a href="#" class="meta-comments">0 Comment</a>
                                                                                </span> 
                                                                            </div>
                                                                        </div>
                                                                        <div class="entry-content">
                                                                            <p>
                                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla diam nunc, a porta massa commodo a. Maecenas tincidunt lacinia...
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>